:root {
    --b-alpha-3: rgba(0, 0, 0, .03);
    --b-alpha-5: rgba(0, 0, 0, .05);
    --b-alpha-7: rgba(0, 0, 0, .07);
    --b-alpha-10: rgba(0, 0, 0, .1);
    --b-alpha-15: rgba(0, 0, 0, .15);
    --b-alpha-20: rgba(0, 0, 0, .2);
    --b-alpha-30: rgba(0, 0, 0, .3);
    --b-alpha-35: rgba(0, 0, 0, .35);
    --b-alpha-40: rgba(0, 0, 0, .4);
    --b-alpha-50: rgba(0, 0, 0, .5);
    --b-alpha-60: rgba(0, 0, 0, .6);
    --b-alpha-70: rgba(0, 0, 0, .7);
    --b-alpha-80: rgba(0, 0, 0, .8);
    --b-alpha-90: rgba(0, 0, 0, .9);
    --bg-w-pure: #fafafa;
    --main-bg-color: white;
    --theme-color: #4191f5;
    --theme-color-logo: rgb(0, 120, 212);
    --txt-b-pure: black;
    --txt-w-pure: white;
    --w-alpha-05: rgba(255, 255, 255, .05);
    --w-alpha-10: rgba(255, 255, 255, .1);
    --w-alpha-20: rgba(255, 255, 255, .2);
    --w-alpha-30: rgba(255, 255, 255, .3);
    --w-alpha-50: rgba(255, 255, 255, .5);
    --w-alpha-60: rgba(255, 255, 255, .6);
    --w-alpha-70: rgba(255, 255, 255, .7);
    --w-alpha-80: rgba(255, 255, 255, .8);
    --w-alpha-90: rgba(255, 255, 255, .9)
}

@font-face {
    font-family: iconfont;
    src: url(https://at.alicdn.com/t/font_1868588_srihcf90ufl.eot);
    src: url(https://at.alicdn.com/t/font_1868588_srihcf90ufl.eot?#iefix) format('embedded-opentype'), url(https://at.alicdn.com/t/font_1868588_srihcf90ufl.woff2) format('woff2'), url(https://at.alicdn.com/t/font_1868588_srihcf90ufl.woff) format('woff'), url(https://at.alicdn.com/t/font_1868588_srihcf90ufl.ttf) format('truetype'), url(https://at.alicdn.com/t/font_1868588_srihcf90ufl.svg#iconfont) format('svg')
}

* {
    outline: 0;
    scrollbar-color: var(--b-alpha-15) var(--bg-w-pure);
    scrollbar-width: thin
}

a {
    color: inherit;
    text-decoration: none
}

body {
    background-color: var(--main-bg-color);
    color: var(--txt-b-pure);
    cursor: default;
    font-family: "PingFang SC", "Microsoft YaHei", sans-serif;
    height: 100%;
    overflow: hidden;
    margin: 0;
    max-width: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    transition: background-color .25s;
    -webkit-user-select: none;
    user-select: none
}

button:disabled {
    opacity: .5;
    pointer-events: none
}

div.logo-box {
    background-image: url(../img/mainLogo_2020.png);
    background-repeat: no-repeat;
    background-size: cover
}

footer {
    bottom: 18px;
    color: var(--b-alpha-35);
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    transition: color .25s
}

footer img {
    height: 10px;
    margin-right: 5px
}

footer .link {
    margin: 0
}

html {
    height: 100%
}

input[type=checkbox] {
    -webkit-appearance: none;
    background: url(../img/cboxOutline.png) no-repeat;
    background-size: contain;
    cursor: pointer;
    float: right;
    height: 16px!important;
    position: relative;
    top: 4px;
    width: 16px!important
}

input[type=checkbox]:hover {
    background-image: url(../img/cboxOutlineH.png)
}

input[type=checkbox]:checked {
    background-image: url(../img/cboxChecked.png)
}

.hidden,
input[type=file] {
    display: none
}

.Loading {
    background: url("../loading.gif") 50% no-repeat #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    opacity:0.4;
}

textarea {
    background-color: var(--b-alpha-5);
    border: 1px solid transparent;
    border-radius: 10px;
    color: var(--b-alpha-80);
    display: block;
    font-family: inherit;
    font-size: small;
    height: 198px;
    margin: 0 auto;
    padding: 10px 15px;
    resize: none;
    transition: all .5s;
    width: 80%
}

textarea:focus {
    background-color: var(--bg-w-pure);
    border-color: var(--theme-color)
}

.about-text {
    color: var(--b-alpha-35);
    font-size: 12px;
    line-height: 20px;
    margin-top: -10px;
    position: relative
}

.app footer {
    display: none
}

.app .poster {
    bottom: 30px
}

.back-btn {
    border-right: 3px solid var(--b-alpha-35);
    border-top: 3px solid var(--b-alpha-35);
    cursor: pointer;
    height: 15px;
    left: 60px;
    position: absolute;
    top: 15px;
    transform: rotate(225deg);
    transition: all .25s;
    width: 15px
}

.back-btn:hover {
    border-right: 3px solid var(--theme-color);
    border-top: 3px solid var(--theme-color)
}

.back-btn:active {
    border-right: 3px solid rgba(65, 145, 245, .5);
    border-top: 3px solid rgba(65, 145, 245, .5)
}

.break-all {
    word-break: break-all
}

.btn-bar a {
    font-size: 12px;
    margin-left: 20px
}

.captcha {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, .5);
    color-scheme: initial;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1
}

.captcha iframe {
    border: none;
    height: 100%;
    width: 100%
}

.checkbox-label {
    color: var(--txt-b-pure);
    cursor: pointer;
    line-height: 30px
}

.close-btn {
    cursor: pointer;
    height: 25px;
    position: absolute;
    right: 50px;
    width: 25px
}

.close-btn::after,
.close-btn::before {
    background-color: #b4b4b4;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: calc(50% - 1px);
    transition: all .25s;
    width: 100%
}

.close-btn::before,
.del-btn::before {
    transform: rotate(45deg)
}

.close-btn::after,
.del-btn::after {
    transform: rotate(-45deg)
}

.close-btn:hover::after,
.close-btn:hover::before {
    background-color: var(--theme-color)
}

.close-btn:active::after,
.close-btn:active::before {
    background-color: rgba(65, 145, 245, .5)
}

.content-left-aligned {
    height: 200px;
    line-height: 1.5;
    margin: 10px auto;
    max-width: 80%;
    text-align: left;
    width: 285px
}

.countdown {
    color: #b4b4b4;
    font-family: monospace;
    position: absolute;
    right: 50px;
    text-align: center;
    top: -20px;
    width: 25px
}

.dark {
    --b-alpha-3: rgba(255, 255, 255, .03);
    --b-alpha-5: rgba(255, 255, 255, .05);
    --b-alpha-7: rgba(255, 255, 255, .07);
    --b-alpha-10: rgba(255, 255, 255, .1);
    --b-alpha-15: rgba(255, 255, 255, .15);
    --b-alpha-20: rgba(255, 255, 255, .2);
    --b-alpha-30: rgba(255, 255, 255, .3);
    --b-alpha-35: rgba(255, 255, 255, .35);
    --b-alpha-40: rgba(255, 255, 255, .4);
    --b-alpha-50: rgba(255, 255, 255, .5);
    --b-alpha-60: rgba(255, 255, 255, .6);
    --b-alpha-70: rgba(255, 255, 255, .7);
    --b-alpha-80: rgba(255, 255, 255, .8);
    --b-alpha-90: rgba(255, 255, 255, .9);
    --bg-w-pure: rgb(30, 30, 30);
    --main-bg-color: #323232;
    --txt-b-pure: white;
    --txt-w-pure: black;
    --w-alpha-05: rgba(0, 0, 0, .05);
    --w-alpha-10: rgba(0, 0, 0, .1);
    --w-alpha-20: rgba(0, 0, 0, .2);
    --w-alpha-30: rgba(0, 0, 0, .3);
    --w-alpha-50: rgba(30, 30, 30, .5);
    --w-alpha-60: rgba(0, 0, 0, .6);
    --w-alpha-70: rgba(30, 30, 30, .7);
    --w-alpha-80: rgba(30, 30, 30, .8);
    --w-alpha-90: rgba(30, 30, 30, .9);
    color-scheme: dark
}

.dark .del-btn::after,
.dark .del-btn::before {
    background-color: #787878
}

.dark .main-btn,
.dark .poster {
    box-shadow: none!important
}

.dark #upload:active,
.dark .main-btn:hover,
.dark .poster:hover {
    box-shadow: 0 0 15px rgba(65, 145, 245, .15)!important
}

.dark .main-btn:active {
    box-shadow: 0 0 15px rgba(65, 145, 245, .35)!important
}

.dark .popup {
    color: #fff
}

.dark .warn {
    background-color: rgba(255, 110, 122, .1)!important;
    color: #ff6e7a!important
}

.dark .warn .emphasize {
    background-color: #633235
}

.del-btn {
    cursor: pointer;
    height: 12px;
    position: absolute;
    right: 15px;
    top: calc(50% - 5px);
    width: 12px
}

.del-btn::after,
.del-btn::before {
    background-color: #c8c8c8;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: calc(50% - 1px);
    transition: all .25s;
    width: 100%
}

.del-btn:hover::after,
.del-btn:hover::before {
    background-color: #ff1e4b!important
}

.del-btn:active::after,
.del-btn:active::before {
    background-color: rgba(255, 30, 75, .5)!important
}

.detailed-msg {
    color: var(--b-alpha-50);
    margin-top: 10px
}

.dialog {
    background-color: var(--bg-w-pure);
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .15);
    color: var(--txt-b-pure);
    left: calc(50% - 260px);
    padding: 20px 30px;
    position: absolute;
    top: 35%;
    transition: opacity .25s;
    width: 460px;
    z-index: 2
}

.dialog button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    transition: all .25s
}

.dialog button:hover {
    filter: brightness(1.1)
}

.dialog button:active {
    filter: brightness(.8)
}

.dialog button.negative-btn {
    background-color: transparent;
    color: var(--theme-color);
    margin-right: 5px;
    padding: 10px
}

.dialog button.positive-btn {
    background-color: var(--theme-color);
    color: #fff;
    margin-left: 10px
}

.dialog-btn-bar {
    margin-top: 12px;
    position: relative;
    text-align: right
}

.dialog-content {
    font-size: small;
    padding-bottom: 8px;
    word-break: break-word
}

.dialog-input {
    box-sizing: border-box;
    display: block;
    color: inherit;
    font-size: small;
    padding: 10px 5px;
    width: 100%
}

.dialog-prompt .dialog-content {
    font-size: 14px
}

.dialog-title {
    font-weight: 700;
    margin-bottom: 10px
}

.dl-tip {
    margin-top: 65px
}

.fade-in {
    animation: fadeIn .25s linear
}

.file-list {
    height: 200px;
    margin: 0 auto;
    overflow: auto;
    text-align: left;
    width: calc(100% - 80px)
}

.file-list>* {
    background-color: var(--bg-w-pure);
    border-radius: 5px;
    color: var(--txt-b-pure);
    cursor: pointer;
    display: block;
    padding: 10px 15px;
    transition: all .25s;
    word-break: break-all
}

.file-list>:nth-child(2n+1) {
    background-color: var(--b-alpha-3)
}

.file-list>:hover {
    color: var(--theme-color)
}

.file-list>:active {
    color: #a5c220
}

.iconfont {
    font-family: iconfont!important;
    font-size: 22px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0;
    -moz-osx-font-smoothing: grayscale
}

.input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--b-alpha-10);
    border-radius: 0;
    transition: all .25s
}

.input:focus,
.input:hover {
    border-bottom: 2px solid var(--theme-color)
}

.keyboard :focus {
    outline: 2px solid var(--theme-color)
}

.line {
    background-color: var(--b-alpha-10);
    height: 1px;
    margin: 5px 0;
    width: 100%
}

.link {
    color: var(--theme-color);
    cursor: pointer;
    transition: all .25s
}

.link:link,
.link:visted {
    color: var(--theme-color)
}

.link:hover {
    color: #a5c220
}

.link:active {
    color: rgba(65, 145, 245, .8)
}

.list-item {
    border-radius: 5px;
    font-weight: 700;
    padding: 10px 15px;
    position: relative;
    text-align: left
}

.list-item:nth-child(2n+1) {
    background-color: var(--b-alpha-3)
}

.list-item p {
    color: var(--b-alpha-50);
    font-size: 10px;
    font-weight: 400;
    line-height: 17px;
    margin: 0 30px 0 0;
    word-break: break-all
}

.list-item p a {
    cursor: pointer;
    margin-left: 5px
}

.list-item-subtitle {
    background-color: rgba(83, 146, 238, .1);
    border-radius: 3px;
    color: var(--theme-color);
    font-size: 10px;
    margin-left: 5px;
    padding: 0 3px
}

.list-item-title {
    color: var(--txt-b-pure);
    display: inline-block;
    line-height: 18px;
    padding-right: 12px
}

.logo-box {
    height: 200px;
    left: calc(50% - 175px);
    position: absolute;
    top: calc(50% - 200px);
    width: 350px
}

.logo-box img {
    height: 100%
}

.main-box {
    margin: 0 calc(50% - 112px);
    position: absolute;
    top: 55%;
    transition: opacity .25s;
    width: 224px;
    z-index: 1
}

.main-btn {
    border-radius: 10px;
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 49px;
    margin-bottom: 20px;
    transition: background-color .25s, box-shadow .25s, color .25s, opacity .25s;
    width: 100%
}

.menu {
    -webkit-app-region: no-drag;
    background-color: var(--bg-w-pure);
    border-radius: 10px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    max-height: calc(100% - 20px);
    min-width: 160px;
    opacity: 0;
    overflow: auto;
    padding: 5px;
    position: absolute;
    top: 10px;
    top: calc(env(safe-area-inset-top) + 10px);
    transition: all .25s;
    right: 10px;
    right: calc(env(safe-area-inset-right) + 10px);
    z-index: 101
}

.menu-icon {
    cursor: pointer;
    position: absolute;
    top: 25px;
    top: calc(env(safe-area-inset-top) + 25px);
    right: 25px;
    right: calc(env(safe-area-inset-right) + 25px);
    width: 25px
}

.menu-icon:hover>div {
    background-color: #a5c220
}

.menu-icon:active>div {
    background-color: rgba(65, 145, 245, .8)
}

.menu-icon>div {
    background-color: var(--theme-color);
    height: 2px;
    transition: all .25s;
    width: 100%
}

.menu-icon>div:first-of-type {
    margin-bottom: 6px
}

.menu-icon>div:last-of-type {
    margin-top: 6px
}

.menu-item {
    border-radius: 5px;
    color: var(--b-alpha-60);
    cursor: pointer;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    padding: 0 15px 0 50px;
    transition: all .25s;
    white-space: nowrap
}

.menu-item:hover {
    background-color: var(--theme-color);
    color: #fff
}

.menu-item:hover>p {
    color: #fff
}

.menu-item:hover>.menu-more {
    border-color: rgba(255, 255, 255, .5)
}

.menu-item:hover>.tick::before {
    color: #fff
}

.menu-item.multiline {
    height: auto;
    line-height: normal;
    padding: 12px 50px
}

.menu-item p {
    color: var(--theme-color);
    font-size: 10px;
    line-height: 1.5;
    margin: .2em 0;
    transition: all .25s;
    white-space: nowrap
}

.menu-item-icon {
    font-size: 16px;
    left: 20px;
    position: absolute
}

.menu-line {
    background-color: var(--b-alpha-7);
    height: 1px;
    margin: 5px 0;
    width: 100%
}

.menu-more {
    border-right: 2px solid var(--b-alpha-20);
    border-top: 2px solid var(--b-alpha-20);
    float: right;
    height: 8px;
    margin-top: 15px;
    transform: rotate(45deg);
    transition: all .25s;
    width: 8px
}

.more-btn {
    background-color: var(--b-alpha-10);
    border: none;
    color: var(--txt-b-pure);
    cursor: pointer;
    display: block;
    float: right;
    padding: 5px 10px;
    transition: all .25s
}

.more-btn:hover {
    background-color: var(--b-alpha-20)
}

.more-btn:active {
    background-color: var(--b-alpha-30)
}

.more-btn::after {
    content: "..."
}

.notification-bar {
    background-color: var(--theme-color);
    bottom: -75px;
    color: rgba(255, 255, 255, .8);
    font-size: small;
    padding: 8px;
    padding-bottom: calc(env(safe-area-inset-bottom) + 8px);
    position: fixed;
    text-align: center;
    transition: all .25s;
    width: calc(100% - 16px);
    z-index: 1
}

.notification-float {
    align-items: center;
    background-color: var(--bg-w-pure);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 10px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    padding: 15px 0 15px 15px;
    position: fixed;
    right: 20px;
    top: 68px;
    top: calc(env(safe-area-inset-top) + 68px);
    width: 350px;
    z-index: 2
}

.notification-float button {
    background-color: inherit;
    border: none;
    border-left: 1px solid var(--b-alpha-10);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: var(--b-alpha-80);
    cursor: inherit;
    font-size: 12px;
    height: 100%;
    padding: 0;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    transition: all .25s;
    width: 70px
}

.notification-float button:hover {
    background-color: var(--b-alpha-5)
}

.notification-float button:active {
    background-color: var(--b-alpha-10)
}

.notification-float h1 {
    font-size: 12px;
    margin: 0;
    text-transform: uppercase
}

.notification-float .content {
    font-size: 12px;
    margin-left: 15px;
    width: 210px
}

.notification-float .content * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.notification-float .description {
    color: var(--b-alpha-80);
    margin-top: 3px
}

.notification-float .icon {
    background-image: url(https://assets.retiehe.com/ap-icon-192-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 26px;
    width: 26px
}

.placeholder {
    color: var(--b-alpha-30)
}

#fileUrl {
    height: 18px;
    font-size: 18px;
    margin: 30px 0 50px;
    color: #FC5531;
    width: 400px;
    text-align: center;
}

.popup {
    background-color: var(--bg-w-pure);
    border-style: solid;
    border-width: 1px;
    border-color: #4191f5;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    font-size: small;
    height: 300px;
    left: calc(50% - 250px);
    opacity: 0;
    overflow: hidden;
    padding: 40px 0 0;
    position: absolute;
    text-align: center;
    transition: all .25s;
    transform: scale(.5);
    top: calc(50% - 200px);
    width: 500px;
    z-index: 1
}

.popup iframe {
    border: none;
    display: block;
    height: calc(100% - 40px);
    margin: 0 auto;
    width: 100%
}

.popup-box {
    left: 0;
    position: absolute;
    transition: all .25s;
    width: 100%
}

.popup-main-btn {
    background-color: var(--theme-color);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: small;
    margin-top: 15px;
    padding: 10px 35px;
    transition: all .25s
}

.popup-main-btn:hover {
    box-shadow: 0 5px 30px rgba(65, 145, 245, .35)
}

.popup-main-btn:active {
    background-color: #fff;
    color: var(--theme-color)
}

.popup-menu {
    background-color: var(--bg-w-pure);
    border-radius: 10px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, .1);
    color: var(--b-alpha-60);
    cursor: default;
    font-size: 14px;
    padding: 5px;
    position: fixed;
    transition: all .25s;
    white-space: nowrap;
    z-index: 102
}

.popup-menu span {
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    line-height: 15px;
    margin-left: 5px;
    padding: 10px;
    transition: all .25s
}

.popup-menu span:hover {
    background-color: var(--theme-color);
    color: #fff
}

.popup-menu span:active {
    color: rgba(255, 255, 255, .5)
}

.popup-menu span:first-of-type {
    margin-left: 0
}

.popup-menu li {
    margin-bottom: 5px
}

.popup-menu li:last-of-type {
    margin-bottom: 0
}

.popup-menu ul {
    font-size: small;
    line-height: 1.5;
    margin: 0;
    padding: 10px .75em 5px;
    padding-inline-start: 2em;
    white-space: initial
}

.popup-menu .label {
    color: var(--theme-color);
    cursor: default!important;
    font-weight: 700
}

.popup-menu .label:hover {
    background-color: transparent;
    color: var(--theme-color)
}

.popup-menu .line {
    margin: 5px 10px;
    width: calc(100% - 20px)
}

.popup-title {
    color: var(--txt-b-pure);
    font-size: 18px;
    margin: 0 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.poster {
    animation: fadeIn 1s linear;
    background-position: center;
    background-size: contain;
    border: .5px solid rgba(65, 146, 245, .1);
    border-radius: 10px;
    bottom: 70px;
    box-shadow: 0 5px 30px rgba(65, 145, 245, .2);
    cursor: pointer;
    display: block;
    left: 30px;
    left: calc(env(safe-area-inset-left) + 30px);
    position: absolute;
    transition: all .25s;
    width: 250px
}

.poster:hover {
    box-shadow: 0 5px 30px rgba(65, 145, 245, .4)
}

.poster:active {
    transform: scale(.95)
}

.preload,
.preload * {
    transition: none!important
}

.progress-bar {
    border-radius: 2px;
    height: 3px;
    left: calc(50% - 100px);
    position: absolute
}

.progress-bar-bg {
    background-color: var(--b-alpha-10);
    width: 200px
}

.progress-bar-bg.default {
    background: rgba(0, 0, 0, .1)
}

.progress-bar-fg {
    background-color: var(--theme-color);
    box-shadow: 0 0 10px var(--theme-color);
    transition: all .25s
}

.progress-label {
    color: var(--b-alpha-50);
    margin: 43px 20px 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.qr-code {
    display: block;
    height: 130px;
    margin: 0 auto;
    padding: 10px;
    width: 130px
}

.receive-code-float {
    background-color: var(--bg-w-pure);
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
    color: var(--txt-b-pure);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 10px;
    line-height: 30px;
    padding: 20px 10px 20px 20px;
    position: absolute;
    text-align: center;
    top: calc(50% - 66px);
    transition: all .5s
}

.receive-input {
    color: var(--theme-color);
    font-size: 36px;
    letter-spacing: 10px;
    margin-bottom: 20px;
    padding: 15px 15px 15px 25px;
    position: relative;
    text-align: center;
    width: 200px
}

.receive-input.compact {
    letter-spacing: 5px;
    padding-left: 20px;
    width: 205px
}

.slide-in-from-left,
.slide-in-from-right {
    background-color: var(--bg-w-pure);
    position: absolute;
    transition: all .25s;
    width: 100%
}

.slide-in-from-left {
    left: -500px
}

.slide-in-from-right {
    left: 500px
}

.tick {
    opacity: 0;
    position: absolute
}

.tick::before {
    border-bottom: 2px solid;
    border-right: 2px solid;
    color: var(--theme-color);
    content: "";
    height: 16px;
    left: -23px;
    margin-top: 13px;
    position: absolute;
    transform: translate(-50%, -30%) rotate(45deg);
    transform-origin: center;
    transition: all .25s;
    width: 8px
}

.tip {
    color: var(--b-alpha-50);
    overflow: hidden;
    padding: 0 20px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.title-bar {
    -webkit-app-region: drag;
    height: 68px;
    left: 0;
    position: fixed;
    top: 0;
    width: calc(100% - 50px)
}

.upload-settings {
    margin: 0 auto;
    width: 85%
}

.upload-settings label {
    display: block;
    padding: 0 5px;
    text-align: left;
    white-space: nowrap
}

.upload-settings input {
    background-color: var(--bg-w-pure);
    border: 1px solid var(--b-alpha-10);
    border-radius: 5px;
    color: var(--txt-b-pure);
    display: block;
    font-size: small;
    padding: 5px 10px;
    transition: all .25s;
    width: calc(100% - 20px)
}

.upload-settings input:hover {
    border: 1px solid var(--b-alpha-15)
}

.upload-settings input:focus {
    border: 1px solid var(--theme-color)
}

.upload-settings input[type=number] {
    min-width: 30px
}

.warn {
    background-color: rgba(235, 0, 60, .05)!important;
    color: #eb003c!important;
    cursor: default;
    padding: 10px 15px;
    text-align: left;
    word-break: break-word
}

.warn a {
    font-weight: 700;
    cursor: pointer;
    border-bottom: 1px solid
}

.warn .emphasize {
    background-color: rgba(235, 0, 60, .1);
    border-radius: 3px;
    padding: 0 3px;
    margin: 0 3px
}

.welcome {
    align-items: center;
    background-color: #fff;
    color: #000;
    display: flex;
    height: 100%;
    justify-content: center;
    position: fixed;
    transition: all .25s;
    width: 100%;
    z-index: 9999
}

.welcome-btn {
    background-color: var(--theme-color-logo);
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    padding: 10px 0;
    transition: background-color .25s, transform .25s;
    width: 300px
}

.welcome-btn:hover {
    background-color: var(--theme-color)
}

.welcome-btn:active {
    background-color: var(--theme-color-logo);
    transform: scale(.95)
}

.welcome-btn.agree {
    width: 150px
}

.welcome-btn.disagree {
    background-color: transparent;
    color: inherit;
    width: 150px
}

.welcome-content {
    margin-top: -15px;
    text-align: left
}

.welcome-intro {
    font-size: 20px;
    line-height: 32px
}

.welcome-intro span {
    color: var(--theme-color-logo);
    font-weight: 700
}

.welcome-intro-detail {
    font-size: 14px;
    padding: 10px 0
}

.welcome-intro-detail div {
    padding-bottom: 6px
}

.welcome-intro-detail span {
    background-image: url(../img/icon_tick.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 14px;
    width: 14px;
    padding-right: 15px
}

.welcome-logo {
    background-image: url(../img/loginLogo_2020.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    margin: 30px 0 30px -21px;
    width: 250px
}

.welcome-term {
    font-size: 14px;
    max-width: 300px;
    padding-bottom: 15px
}

#about-close-btn {
    margin-top: 25px
}

#about-popup .logo-box {
    position: relative;
    top: -10px
}

#article-popup iframe {
    height: 75%;
    width: 80%
}

#code-box .popup-title,
#password-box .popup-title {
    margin: 48px 0 18px
}

#files-received-box p {
    margin-top: -10px
}

#footer-left {
    left: 25px;
    left: calc(env(safe-area-inset-left) + 25px);
    text-align: left
}

#footer-right {
    right: 25px;
    right: calc(env(safe-area-inset-right) + 25px);
    text-align: right
}

#help-popup iframe {
    height: 220px;
    width: 80%
}

#login-popup {
    background-color: #fff
}

#login-status {
    margin-top: -10px
}

#mask {
    height: 100%;
    position: fixed;
    width: 100%
}

#my-file-list {
    height: 210px;
    margin: auto;
    overflow: auto;
    width: calc(100% - 100px)
}

#my-file-list a {
    transition: .25s
}

#my-file-list a:hover {
    color: var(--theme-color)
}

#my-file-list a:active {
    filter: brightness(.8)
}

#qr-box .qr-code {
    margin-top: 75px
}

#download {
    font-size: 16px;
    border: none;
    box-shadow: 0 5px 20px rgba(65, 145, 245, .2);
    color: var(--theme-color)
}

#download:hover {
    box-shadow: 0 5px 30px rgba(65, 145, 245, .3)
}

#download:active {
    background-color: var(--theme-color);
    box-shadow: 0 5px 30px rgba(65, 145, 245, .5);
    color: #fff
}

#download-code {
    cursor: text;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 10px;
    line-height: 30px;
    padding-left: 10px;
    -webkit-user-select: text;
    user-select: text
}

#downloadd-file-list {
    height: 210px
}

#download-progress-box .popup-title {
    margin: 38px 0 18px
}

#selected-file-list {
    height: 130px;
    margin: 20px auto 15px
}

#upload {
    font-size: 16px;
    background-color: var(--theme-color);
    border: none;
    box-shadow: 0 5px 20px rgba(65, 145, 245, .3);
    color: #fff;
    transition: background-color .25s, box-shadow .25s, color .25s, opacity .25s
}

#upload:hover {
    box-shadow: 0 5px 30px rgba(65, 145, 245, .5);
}

#upload.active,
#upload:active {
    background-color: var(--bg-w-pure);
    box-shadow: 0 5px 30px rgba(65, 145, 245, .3);
    color: var(--theme-color)
}

#server-menu {
    margin-left: 200%;
    transition: all .5s
}

#server-popup {
    padding-left: 20px;
    padding-right: 20px
}

#server-popup .link {
    font-size: 18px;
    word-break: break-all
}

#server-popup .popup-title,
#upload-success-box .popup-title {
    margin: 18px 0
}

#settings-popup input[type=text] {
    background-color: var(--b-alpha-5);
    border: none;
    color: var(--b-alpha-50);
    display: block;
    padding: 5px 10px;
    width: calc(100% - 20px)
}

#text-received-box textarea {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

#text-received-box .warn {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 auto;
    width: calc(80% + 2px)
}

#upload-done-btn {
    top: 20px
}

#upload-list-box .popup-title {
    margin-top: -10px
}

#upload-success-box {
    padding: 0 15px;
    width: calc(100% - 30px)
}

#default-progress-label {
    color: var(--txt-b-pure);
    font-size: 36px;
    font-weight: 700;
    margin: 30px 20px 10px 20px;
    word-break: break-all
}

#default-progress-label span {
    font-size: 18px;
    margin-left: 3px
}

#progress-status-label {
    margin: 55px 0 0
}

::-webkit-scrollbar {
    width: 5px
}

::-webkit-scrollbar-thumb {
    background-color: var(--b-alpha-15);
    border-radius: 3px
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--b-alpha-30)
}

::selection {
    background-color: rgba(65, 145, 245, .99);
    color: #fff
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@media screen and (max-width:500px) {
    .back-btn {
        top: -5px;
        left: 35px
    }
    .close-btn,
    .countdown {
        right: 30px
    }
    .dialog {
        left: 5%;
        width: calc(90% - 60px)
    }
    .file-list {
        width: calc(100% - 40px)
    }
    .menu {
        max-width: calc(100% - 20px)
    }
    .menu-icon {
        top: 20px;
        top: calc(env(safe-area-inset-top) + 20px)
    }
    .menu-item {
        font-size: 14px
    }
    #my-file-list {
        width: 88%
    }
    .notification-float {
        top: 20px;
        top: calc(env(safe-area-inset-top) + 20px);
        width: calc(100% - 40px)
    }
    .notification-float .content {
        width: calc(100% - 125px)
    }
    .popup {
        font-size: 14px;
        left: 5%;
        width: 90%
    }
    .popup>.close-btn {
        top: 38px
    }
    .popup-box>.close-btn {
        top: -2px
    }
    .popup-title {
        font-size: 16px
    }
    .progress-label {
        font-size: 12px
    }
    .tick::before {
        top: 1px
    }
    .welcome {
        padding: 0 10%;
        width: 80%
    }
    .welcome-btn {
        bottom: 30px;
        left: 10%;
        position: fixed;
        width: 80%
    }
    .welcome-btn.agree {
        left: auto;
        right: 10%;
        width: calc(40% - 2px)
    }
    .welcome-btn.disagree {
        width: calc(40% - 2px)
    }
    #footer-left {
        bottom: auto;
        top: 20px
    }
}

@media screen and (max-width:825px) {
    .poster {
        box-shadow: none;
        display: none;
        width: 200px
    }
}