<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <!-- 手机界面自适应 -->
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <title>fileServer Blance</title>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.qrcode.min.js"></script>
    <script src="../static/js/server.js"></script>
    <link rel="stylesheet" href="../static/css/server.css">
    <link rel="shortcut icon" href="../static/icon.jpg">
</head>
<body class="">
    <section class="Loading" style="display: none;"></section>
    <picture class="logo-box">
        <img src="../static/icon.gif" alt="" draggable="false">
    </picture>
    <div id="user" class="user userInfo" style="display: none;">
        <div class="avatar">
          <img id="avatar" src="../static/icon.jpg" alt="">
        </div>
        <div class="userName" id="nickName">nickName</div>
    </div>
    <div id="main-box" class="main-box">
        <!-- 鼠标点击则出现上传文件提示 -->
        <input type="file" id="file" name="file" onchange="uploadFile()">
        <button id="upload" onclick="uploadFunc()" class="main-btn" type="button">上传</button>
        <button id="download" class="main-btn" onclick="isLoginHandle()">下载</button>
    </div>
    <div id="popup" style="display: none;">
        <div class="poupMask"></div>
        <div class="popupContent">
            <p class="popup-title">文件已成功上传</p>
            <p>您的下载链接</p>
            <input id="fileUrl" type="text" value="" disabled>
            <div class="btn-bar">
                <button id="agree-btn" class="popup-main-btn" onclick="linkCopy()">复制</button>
            </div>
        </div>
    </div>
    <div class="loginWrap" id="loginWrap" style="display: none;">
        <div id="loginMask" class="loginMask"></div>
        <div class="loginCol">
            <div class="title">
              <span>扫码登录</span>
              <div id="loginClose" class="loginClose"><img class="icon" src="../static/close.png"></div>
            </div>
            <div class="loginMain">
              <div class="loginQR" id="loginQR"><canvas width="150" height="150"></canvas></div>
              <div class="tips">请使用微信扫码登录</div>
            </div>
        </div>
    </div>   
    <footer id="footer-left" aria-hidden="true"><span>本项目已经开源</span> | <a class="link" id="tos" href="https://www.baidu.com"
            target="_blank" rel="noopener">友情链接</a></footer>
</body>
</html>